.left{
    float: left;
}

.close{
    position: absolute;
    top:-5rem !important ;
    right: 1rem;
}

.allData{
    display: block; 
    padding-left: 1rem;  
    border: 1px solid;
    margin-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-bottom: 10px;
    border-radius: 1rem;
}

.dandt{
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
    color: #666666;
}

.headandtype{
    padding: 1rem 0;
}

.headandtype li{
    list-style: none;
    display: inline;
    padding: 0 .3rem;
    margin: 0 .2rem;
    color: #012A4A;
    border-radius: 5rem;
    background-color: #cae5fa;
}

.btnandfree{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exploreBtn{
    background-color: white;
    color: #54abee;
    border: 2px solid #54abee;
    padding: .7rem;
    border-radius: 1rem;
}

.exploreBtn:hover{
    color: white;
    background-color: #54abee;
}